.ant-layout {
  padding: 1rem;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .ant-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ant-layout-content {
    max-width: 768px;
  }
}
